/* CSS externo */

/* Definir as cores tema dark */
/* raiz */
:root,
:root[data-theme='dark'] {
 --cor-fundo: #1b1b1b;
 --cor-texto: #e9e9e9;

} 


body {
  background: ; /* cor fundo */
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* cor TEXTOS */
}

 a {
  color: #e9e9e9;
  text-decoration: none;
}

ul {
  list-style: none; /* Estilo de Lista */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: rgb(250, 10, 110);
  border-bottom: 5px solid #fff;
}

 .menu-desktop {
  background: royalblue;
  display: none;  

 } 
/* Medidas Responsivas */
@media (min-width: 768px) {
.menu-desktop {
  display: flex;
  }
}

